/* CSS Reset */
body,
header,
nav,
footer {

    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #faf2e4;
    margin: 0 2%;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
}


/* Style rule for header */
header {
    float: left;
    width: auto;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}

header div p {
    float: right;
    width: auto;
}

header img{
    margin: auto;
    padding: auto;
}

#intro  {
    text-align: center;
    font-family: serif;
    font-weight: normal;
}


/* Style rule for navigation area */
nav {
    background-color: #efac2f;
    border: 1px, solid, #666;
    float: center;
    margin: 2em 5em 0 5em;

}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.25em;
    font-family: Verdana, Arial, sansserif;
    font-weight: bold;

    margin-right: -10px;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    color: #2c3e57;

}

nav ul li a:hover {
    background-color: #2c3e57;
    color: #efac2f;
}

/* Style rule for main area */
main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.2em;

}

/*
=============== 
About
===============
*/
/* section title added to globals */
.about-title {
    text-align: left;
    margin-bottom: 2rem;
}

.about-title .underline {
    margin-left: 0;
}

.about-center {
    display: grid;
    gap: 3rem 2rem;
}

.about-img {
    justify-self: center;
}

@media screen and (min-width: 992px) {
    .about-center {
        grid-template-columns: 1fr 1fr;
    }

    .about-img {
        position: relative;
    }

    .about-img::before {
        left: 2rem;
    }

    .about-info {
        align-self: center;
    }
}

h2 {
    color: #d1633c;
    font-size: 1.5em;
    text-align: center;
}

.skills {
    display: inline-block;

    width: auto;
}

/*
=============== 
Timeline
===============
*/

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.timeline-center {
    width: 80vw;
    max-width: 40rem;
}

.timeline-item {
    border-top: 2px dashed #e9b949;
    margin: 0;
    padding: 4rem 2rem;
    position: relative;
}

.timeline p {
    margin-bottom: 0;
}

.timeline-item:nth-child(even) {
    border-left: 2px dashed #e9b949;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    margin-right: 2rem;
    padding-right: 0;
}

.timeline-item:nth-child(odd) {
    border-right: 2px dashed #e9b949;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: 2rem;
    padding-left: 0;
}

.timeline-item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
}

.timeline-item:last-child {
    border-bottom-left-radius: 0;
}

.number {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    background: #e9b949;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #513c06;
    font-weight: bold;
}

.timeline-item:nth-child(even) .number {
    left: 0;
}

.timeline-item:nth-child(odd) .number {
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*
================
Cotact Addresss
================
*/
.address iframe {
    position: relative;
    place-items: center;
    float: center;
}

/* Style rules for footer content */
footer {
    background-color: #f78e60;
    padding-bottom: 2rem;
  
  display: grid;
  place-items: center;
}

footer p {
  font-size: 1.25rem;
      text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
}

footer p a{
    
    display: inline-block;
    text-decoration: none;
}




